body {
    background-color: #ffebcd;
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 110%;
    text-align: center;
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav ul{
    list-style: none;
}